.download-button {
  border: 1px solid #bdbdbd;
  background-color: DodgerBlue;
  color: #FFFFFF;
  width: 120px;
  height: 40px;
  margin: 0 10px 10px 10px;
  cursor: pointer;
}

.add-button {
  border: 1px solid #bdbdbd;
  background-color: gray;
  color: white;
  width: 140px;
  height: 40px;
  margin: 0 10px 10px 10px;
  cursor: pointer;
}
